%flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

%grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
