*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  hanging-punctuation: first last;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  line-height: 1;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  display: inline-block;
  &:visited,
  &:link,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
  }
}

img,
video,
picture,
svg {
  display: block;
  max-width: 100%;
  //* Add width: 100% if needed to some images
}

input,button, textarea, select {
  font: inherit;
}

[rol="list"] {
  list-style: none;
}

button {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* NOTE: use lvh, svh, or dvh instead vh */
